body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .site-title {
  font-family: 'Pacifico', cursive;
}

tt, code, kbd, samp {
  font-family: 'Ubuntu Mono', monospace;
}
